.catalog {
  margin-top: 50px;
   
  &__container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
  
    width: $catalogWidth;
    margin: 0 auto;
  }
  
  &__card {
    margin-bottom: 51px;
  }
}
